
<div class="main-content">
  <div class="container-fluid content">
    
        <div class="card">
          <div class="card-header text-center card-header-danger">
            <h2 class="card-title">SignUp</h2>

          </div>

          <div class="card-body">

            <mat-form-field [formGroup]="registerForm" class="example-full-width">
              <input matInput placeholder="FirstName" formControlName="firstName">

              <mat-error *ngIf="registerForm.hasError('required', 'firstName')">
                 FirstName is required *
              </mat-error>
            </mat-form-field>

            <mat-form-field [formGroup]="registerForm">
              <input matInput placeholder="LastName" formControlName="lastName">
              <mat-error *ngIf="registerForm.hasError('required', 'lastName')">
                  LastName is required *
              </mat-error>
            </mat-form-field>

           

            <mat-form-field [formGroup]="registerForm">
              <input matInput placeholder="Email" formControlName="email">

              <mat-error *ngIf="registerForm.hasError('required', 'email')">
                  Email is required *
              </mat-error>

              <mat-error *ngIf="registerForm.hasError('email', 'email')">
                  Please enter a valid email
              </mat-error>


            </mat-form-field>

           

           

            <mat-form-field [formGroup]="registerForm">
              <input matInput type="password" placeholder="Password" formControlName="password">

              <mat-error *ngIf="registerForm.hasError('required','password')">
                   Password is required *
              </mat-error>

              <mat-error  *ngIf="registerForm.hasError('minlength', 'password')">
                  Please enter a valid password
              </mat-error>

            </mat-form-field>

            
            <form [formGroup]="registerForm">
              
              <input type="file" (change)="handleImage($event)">
              
            </form>

            <div class= "m-3">
                <button mat-raised-button type="submit" class="btn  btn-danger" (click)="register()">Save</button>
            </div>

          </div>


        </div>
     
  </div>
</div>
