<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-cyan">
                        <h4 class="card-title">New Password</h4>
                        <p class="card-category">Insert the new password</p>
                    </div>
                    <div class="card-body">
                            <form [formGroup]= "restPasswordForm" [matchValue]="['password', 'confirmation']">
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                     <input type="password" matInput placeholder="New password" [type]="hide_password ? 'password' : 'text'" formControlName="password" required="required">
                                     <button mat-icon-button matSuffix (click)="hide_password = !hide_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_password">
                                        <mat-icon>{{hide_password ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="example-full-width">
                                       <input type="password" matInput placeholder="Confirm the new password" [type]="hide_confirmation ? 'password' : 'text'"  formControlName="confirmation" required="required">
                                       <button mat-icon-button matSuffix (click)="hide_confirmation = !hide_confirmation" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_confirmation">
                                        <mat-icon>{{hide_confirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error *ngIf="restPasswordForm.hasError('matchValueError','confirmation')">Confirm Password & Password must be same.</mat-error>
                                    </mat-form-field>
                                    
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit()">Send</button>
                            <div *ngIf="!message_error" class="clearfix" style="color: seagreen">{{message}}</div>
                            <div *ngIf="message_error" class="clearfix" style="color: red">{{message_error}}</div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  