<div class="home_banner_area">
    <div class="banner_inner">
            <div class="container">
                    <div class="row">
                            <div class="col-lg-6" style="margin-top: 200px">
                                    <img src="../../../assets/img/Organisation-d-ateliers.png" alt=""
                                            class="float-right img-fluid">
                            </div>
                            <div class="col-lg-6" style="margin-top: 200px">
                                    <div class="banner_content">
                                            <h5>Be organized, Be productive</h5>
                                            <h2>Be SCRUM</h2>
                                            <p>SCRUM allows you to organize your projects and prioritize them in a
                                                    fun, flexible and enriching way.</p>
                                            <div class="center">
                                                    <button routerLink="/auth/register" routerLinkActive="active"
                                                            class="banner_btn">SignUp</button> 
                                                    <button routerLink="/auth/login" routerLinkActive="active"
                                                            class="banner_btn">SignIn</button>
                                            </div>
                                    </div>
                            </div>

                    </div>
            </div>
    </div>
</div>
